extends layout 
 
block content 
  h1= title 
 
  - let appleid = toShow._id 
  - let color = toShow.color 
  - let quantity = toShow.quantity 
  - let cost = toShow.cost
   
  div.row(class='mb-2') 
    div.mr-1 ID is 
    div #{appleid} 
  - let actionid = "/resource/apples/" + appleid 
  form(id='appleForm', action= actionid, method="PUT") 
    div.form-group 
        label.appleAttr(for='color') apple color 
        input#color(type='text', name='color', value= color ) 
    div.form-group 
        label.appleAttr(for='quantity') apple quantity 
        input#quantity(type='text', name='quantity', value= quantity ) 
    div.form-group 
        label.appleAttr(for='cost') apple cost 
        input#cost(type='number', name='cost', value= cost ) 
    input(type="submit") 

    button(class="btn btn-danger m-2" onclick="updateOnid()") Update 
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel 
 
  script. 
    function cancel() { 
      // Go back to the home page for the apple collection 
      window.location.href='/apples' 
    } 
 
  script.
   function updateOnid() { 
    document.forms['appleForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'PUT', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Update succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Update failed " + error ) 
      }); 
     });
    } 